:root {
  --color-light: #F2F6F6;
  --color-dark: #090909;
  --color-grey: #68696A;
  --color-darkgrey: #0F1318;
  --color-red: #EB0237;
  --color-green: #43AD28;
  --color-orange: #EB6402;

  --main-font-size: 1rem;
  --secondary-font-size: 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-light);
  background-color:var(--color-dark);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
}